.modal-content {
    border-radius: 15px;
    padding: 20px;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    font-weight: bold;
}

.modal-body {
    padding: 20px;
}

.form-control {
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #f8f9fa;
}

.address-type {
    margin-bottom: 15px;
}

.text-danger {
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 15px;
}

.switch {
    font-size: 14px;
}

.modal-footer {
    justify-content: space-between;
    padding-top: 20px;
}

.btn-secondary {
    background-color: #e0e0e0;
    color: #000;
    border: none;
    font-weight: bold;
}

.btn-success {
    background-color: #28a745;
    border: none;
    font-weight: bold;
}