::selection {
    background: rgba(23, 162, 184, 0.3);
}

/* Phần sản phẩm chi tiết */
.product-wrapper {
    max-width: 95%;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;

}

.pro-card {
    display: flex;
    gap: 50px;
}

.pro-detail-img {
    width: 100%;
    display: block;
    border-radius: 10px;
    height: 400px;
}

.img-display {
    overflow: hidden;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img {
    min-width: 100%;
    margin-bottom: 15px;
}

/* Điều chỉnh kích thước của img-item */
.img-select {
    display: flex;
    gap: 10px;
    /* Khoảng cách giữa các hình ảnh nhỏ */
}

.img-item {
    width: 60px;
    /* Chiều rộng của mỗi hình ảnh nhỏ */
    height: 60px;
    /* Chiều cao của mỗi hình ảnh nhỏ */
    overflow: hidden;
    border: 1px solid #ddd;
    /* Đường viền xung quanh hình ảnh nhỏ */
    border-radius: 5px;
    /* Bo tròn góc cạnh của hình ảnh nhỏ */
}

.img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Giúp hình ảnh nhỏ không bị méo khi thay đổi kích thước */
    transition: transform 0.3s ease;
}

.img-item:hover img {
    transform: scale(1.1);
    /* Phóng to hình ảnh khi hover */
}


.img-item:hover {
    opacity: 0.8;
}

.product-imgs {
    flex: 1;
    padding: 30px 20px;
    padding-bottom: 20px;
}

.product-content {
    flex: 1;
    margin-top: 20px;
}

.product-title {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}

.product-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}

.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}

.product-link:hover {
    opacity: 0.9;
}

.product-rating {
    color: #ffc107;
}

.product-rating span {
    font-weight: 600;
    color: #252525;
}

.pro-detail-sale {
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    background: rgb(255, 202, 104);
    color: #fff;
    padding: 5px;
    transition: all 0.5s ease;
    margin-top: 30px;
    display: flex;
    align-items: center;
    opacity: .8;
    animation: flash .2s infinite;
}

@keyframes flash {
    100% {
        background-color: rgb(255, 170, 0);
    }
}

.pro-detail-sale h5 {
    margin-bottom: 0px;
}

.product-price-detail {
    font-size: 1rem;
    font-weight: 700;
}

.product-price-detail span {
    font-weight: 400;
}

.last-price-detail span {
    color: #f64749;
    text-decoration: line-through;

}

.new-price-detail span {
    color: #256eff;
    font-size: 2rem;
}

.product-detail {
    margin-top: 20px;
}

.product-detail h2 {
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}

.product-detail p {
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;

}

.capacity-selection {
    margin: 20px 0;
}

.capacity-options {
    display: flex;
    gap: 10px;
}

.capacity-btn {
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.capacity-btn.selected {
    border-color: #256eff;
    background-color: #e0f7ff;
}

.capacity-btn:hover {
    background-color: #f0f0f0;
}


.product-detail ul {
    margin: 1rem 0;
    font-size: 0.9rem;
}

.product-detail ul li {
    margin: 0;
    list-style: none;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}

.product-detail ul li span {
    font-weight: 400;
}

.purchase-info {
    margin: 1.5rem 0;
}

.purchase-info input,
.purchase-info .btn {
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
}

.purchase-info input, .purchase-info label {
    display: inline;

}

.purchase-info label {
    margin-right: 10px;
    font-weight: 600;
}

.purchase-info .btn {
    cursor: pointer;
    color: #fff;
}

.purchase-info .btn:first-of-type {
    background: #256eff;
}

.purchase-info .btn:last-of-type {
    background: #f64749;
}

.purchase-info .btn:hover {
    opacity: 0.9;
}

.pro-stock {
    padding: 10px;
    color: #fff;
    background-color: #34465d;
    border-radius: 20px;
    margin-right: 0.2rem;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links p {
    margin-right: 0.5rem;
    font-weight: 600;
    color: #12263a;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}

.social-links a:hover {
    background: #000;
    border-color: transparent;
    color: #fff;
}

/* Tabs Section */
.wrapper {
    width: 100%;
    padding: 25px 30px 30px 30px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.wrapper nav {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper nav label {
    flex: 1;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: #17a2b8;
    font-size: 17px;
    border-radius: 5px;
    margin: 0 5px;
    transition: all 0.3s ease;
}

.wrapper nav label:hover {
    background: rgba(23, 162, 184, 0.3);
}

.wrapper nav label.active {
    color: #fff;
}

nav label i {
    padding-right: 7px;
}

nav .slider {
    position: absolute;
    height: 100%;
    width: 20%;
    left: 0;
    bottom: 0;
    z-index: 0;
    border-radius: 5px;
    background: #17a2b8;
    transition: all 0.3s ease;
}

.slider.home {
    left: 0;
}

.slider.blog {
    left: 20%;
}

.slider.code {
    left: 40%;
}

.slider.help {
    left: 60%;
}

.slider.about {
    left: 80%;
}

section .content {
    display: none;
    background: #fff;
}

section .content.active {
    display: block;
}

section .content .title {
    font-size: 21px;
    font-weight: 500;
    margin: 30px 0 10px 0;
}

section .content p {
    text-align: justify;
    margin-bottom: 20px;
}

.flying-img {
    position: fixed;
    width: 100px;
    /* Tùy chỉnh kích thước */
    height: 100px;
    z-index: 1000;
    transition: transform 0.5s ease-in-out;
    animation: flyToCart 3s ease forwards;
}

@keyframes flyToCart {
    to {
        transform: translate(var(--left), var(--top)) scale(0.1);
        opacity: 0;
    }
}