.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    font-family: "Poppins", system-ui;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
}

.profile-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    width: 700px;
    height: 600px;
}

.profile-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group input {
    width: 48%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.gender-group {
    margin-bottom: 20px;
}

.gender-group label {
    margin-right: 15px;

}

.profile-form button {
    width: 100%;
    padding: 15px;
    background-color: #34465d;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2575fc;
}

.profile-image-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.profile-container a {
    position: absolute;
    color: #000 !important;
    text-decoration: none;
    border: none;
    top: 90%;
    right: 65%;
}