/*** Spinner Start ***/

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .8s ease-out, visibility 0s linear .0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}


/*** Spinner End ***/


/*** Button Start ***/

.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn.border-secondary {
    transition: 0.5s;
}

.btn.border-secondary:hover {
    background: #0080ff !important;
    color: #002041 !important;
}


/*** Topbar Start ***/

.bg-blue {
    background-color: #1e90ff;
}

.fixed-top {
    transition: 0.5s;
    background: var(--bs-white);
    border: 0;
}

.topbar {
    padding: 20px;
    border-radius: 230px 100px;
}

.topbar .top-info {
    font-size: 15px;
    line-height: 0;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.topbar .top-link {
    font-size: 15px;
    line-height: 0;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.topbar .top-link a {
    letter-spacing: 1px;
}

.topbar .top-link a small:hover {
    color: var(--bs-secondary) !important;
    transition: 0.5s;
}

.topbar .top-link a small:hover i {
    color: var(--bs-primary) !important;
}


/*** Topbar End ***/


/*** Navbar Start ***/

.navbar .navbar-nav .nav-link {
    padding: 10px 15px;
    font-size: 16px;
    transition: .5s;
}

.navbar {
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.text-blue {
    color: #1e90ff;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.fixed-top.bg-white .navbar .navbar-nav .nav-link:hover,
.fixed-top.bg-white .navbar .navbar-nav .nav-link.active {
    color: var(--bs-blue);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        transition: .5s;
        opacity: 0;
    }
}

.dropdown .dropdown-menu a:hover {
    background: var(--bs-secondary);
    color: var(--bs-blue);
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light) !important;
    border-radius: 10px !important;
    transition: .5s;
    opacity: 1;
}

#searchModal .modal-content {
    background: rgba(255, 255, 255, .8);
}


/*** Navbar End ***/


/*** Hero Header ***/

.hero-header {
    background: linear-gradient(rgba(248, 223, 173, 0.1), rgba(248, 223, 173, 0.1)), url(../img/hero-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item {
    position: relative;
}

.carousel-item a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    background: linear-gradient(rgba(255, 181, 36, 0.7), rgba(255, 181, 36, 0.7));
}

.carousel-control-next,
.carousel-control-prev {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    border: 1px solid var(--bs-white);
    background: var(--bs-black);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-next {
    margin-right: 20px;
}

.carousel-control-prev {
    margin-left: 20px;
}

.page-header {
  
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),;
 
   
}

@media (min-width: 992px) {
    .hero-header,
    .page-header {
        margin-top: 140px !important;
    }
}
@media (min-width: 992px) {
    .hero-header2,
    .page-header2 {
        margin-top: 80px !important;
    }
}@media (min-width: 992px) {
    .hero-header4,
    .page-header4 {
        margin-top: 100px !important;
    }
}
@media (min-width: 992px) {
    .hero-header3,
    .page-header3 {
        margin-top: 50px !important;
    }
}

@media (max-width: 992px) {
    .hero-header,
    .page-header {
        margin-top: 97px !important;
    }
}


/*** Hero Header end ***/


/*** featurs Start ***/

.featurs .featurs-item .featurs-icon {
    position: relative;
    width: 120px;
    height: 120px;
}

.featurs .featurs-item .featurs-icon::after {
    content: "";
    width: 35px;
    height: 35px;
    background: var(--bs-secondary);
    position: absolute;
    bottom: -10px;
    transform: translate(-50%);
    transform: rotate(45deg);
    background: var(--bs-secondary);
}


/*** featurs End ***/


/*** service Start ***/

.service .service-item .service-content {
    position: relative;
    width: 250px;
    height: 130px;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*** service End ***/


/*** Fruits Start ***/


.fruite .tab-class .nav-item a.active span {
    color: #ffffff !important;
   
}

.fruite .fruite-categorie .fruite-name {
    line-height: 40px;
}

.fruite .fruite-categorie .fruite-name a {
    transition: 0.5s;
}

.fruite .fruite-categorie .fruite-name a:hover {
    color: var(--bs-secondary);
}

.fruite .fruite-item {
    height: 100%;
    transition: 0.5s;
}

.fruite .fruite-item:hover {
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}

.fruite .fruite-item .fruite-img {
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px 10px 0 0;
}

.fruite .fruite-item .fruite-img img {
    transition: 0.5s;
}

.fruite .fruite-item .fruite-img img:hover {
    transform: scale(1.3);
}


/*** Fruits End ***/


/*** vesitable Start ***/

.vesitable .vesitable-item {
    height: 100%;
    transition: 0.5s;
}

.vesitable .vesitable-item:hover {
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}

.vesitable .vesitable-item .vesitable-img {
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px 10px 0 0;
}

.vesitable .vesitable-item .vesitable-img img {
    transition: 0.5s;
}

.vesitable .vesitable-item .vesitable-img img:hover {
    transform: scale(1.2);
}

.vesitable .owl-stage {
    margin: 50px 0;
    position: relative;
}

.vesitable .owl-nav .owl-prev {
    position: absolute;
    top: -8px;
    right: 0;
    color: var(--bs-blue);
    padding: 5px 25px;
    border: 1px solid hsl(210, 100%, 50%);
    border-radius: 20px;
    transition: 0.5s;
}

.vesitable .owl-nav .owl-prev:hover {
    background: var(--bs-blue);
    color: var(--bs-white);
}

.vesitable .owl-nav .owl-next {
    position: absolute;
    top: -8px;
    right: 88px;
    color: var(--bs-blue);
    padding: 5px 25px;
    border: 1px solid #0080ff;
    border-radius: 20px;
    transition: 0.5s;
}

.vesitable .owl-nav .owl-next:hover {
    background: var(--bs-blue);
    color: var(--bs-white);
}


/*** vesitable End ***/


/*** Banner Section Start ***/

.banner .banner-btn:hover {
    background: var(--bs-primary);
}


/*** Banner Section End ***/


/*** Facts Start ***/

.counter {
    height: 100%;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.counter i {
    font-size: 60px;
    margin-bottom: 25px;
}

.counter h4 {
    color: var(--bs-primary);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.counter h1 {
    margin-bottom: 0;
}


/*** Facts End ***/


/*** testimonial Start ***/

.testimonial .owl-nav .owl-prev {
    position: absolute;
    top: -58px;
    right: 0;
    color: var(--bs-primary);
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    border-radius: 20px;
    transition: 0.5s;
}

.testimonial .owl-nav .owl-prev:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}

.testimonial .owl-nav .owl-next {
    position: absolute;
    top: -58px;
    right: 88px;
    color: var(--bs-primary);
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    border-radius: 20px;
    transition: 0.5s;
}

.testimonial .owl-nav .owl-next:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}


/*** testimonial End ***/


/*** Single Page Start ***/

.pagination {
    display: inline-block;
}

.pagination a {
    color: rgb(0, 0, 0);
    /* Màu chữ */
    background-color: #ffffff;
    /* Xanh nước biển */
    padding: 8px 16px;
    margin: 0 4px;
    text-decoration: none;
    border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #005cbf;
    /* Viền xanh đậm */
}

.pagination a:hover {
    background-color: #005cbf;
    /* Màu khi hover */
}

.pagination a.active {
    background-color: #005cbf;
    /* Màu cho trang hiện tại */
}

.nav.nav-tabs .nav-link.active {
    border-bottom: 2px solid var(--bs-secondary) !important;
}


/*** Single Page End ***/


/*** Footer Start ***/

.footer .footer-item .btn-link {
    line-height: 35px;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

.footer .footer-item .btn-link:hover {
    color: var(--bs-secondary) !important;
}

.footer .footer-item p.mb-4 {
    line-height: 35px;
}

** input *

.filter-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    width: 250px;
}

.price-range-container h3,
.brand-container h4,
.hair-condition-container h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

.price-range-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.price-range-inputs input {
    width: calc(50% - 5px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.apply-button {
    background-color: #0080ff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.apply-button:hover {
    background-color: #0080ff;
}


  


  /* Nền của phần track */
  .scrollable-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Màu nền của phần track */
  }
  
  /* Thiết lập danh sách không bị tràn và giữ khoảng cách */
  ul {
    /* list-style: none; Bỏ chấm đầu dòng trong danh sách */
    padding: 0;
    margin: 0;
    
  }
  
  /* Thiết lập cho các phần tử li */
  li {
   /* Hiển thị các mục dạng flex để checkbox và text nằm cạnh nhau */
    align-items: center; /* Canh giữa checkbox và text theo chiều dọc */
    margin-bottom: 8px; /* Khoảng cách giữa các mục trong danh sách */
  }
  
  input[type="checkbox"] {
    margin-right: 10px; /* Khoảng cách giữa checkbox và text */
  }
  


/* hinh nho */

.img-select {
    display: flex;
    gap: 10px;
    /* Khoảng cách giữa các hình ảnh nhỏ */
}

.img-item {
    width: 60px;
    /* Chiều rộng của mỗi hình ảnh nhỏ */
    height: 60px;
    /* Chiều cao của mỗi hình ảnh nhỏ */
    overflow: hidden;
    border: 1px solid #ddd;
    /* Đường viền xung quanh hình ảnh nhỏ */
    border-radius: 5px;
    /* Bo tròn góc cạnh của hình ảnh nhỏ */
}

.img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Giúp hình ảnh nhỏ không bị méo khi thay đổi kích thước */
    transition: transform 0.3s ease;
}

.img-item:hover img {
    transform: scale(1.1);
    /* Phóng to hình ảnh khi hover */
}

.img-item:hover {
    opacity: 0.8;
}

.border-rounded img {
    width: 65%;
    margin-bottom: 15px;
    margin-right: 15px ;
}


/* dung tich */

.capacity-selection {
    margin: 20px 0;
}

.capacity-options {
    display: flex;
    gap: 10px;
}

.capacity-btn {
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.capacity-btn.selected {
    border-color: #256eff;
    background-color: #e0f7ff;
}

.capacity-btn:hover {
    background-color: #f0f0f0;
}

.txt_price {
    box-sizing: border-box;
    color: rgb(255, 102, 0);
    display: inline-block;
    font-family: line-height 25.7143px;
    margin-right: auto;
    font-size: 30px;
    font-weight: 700;
    height: auto;
    line-height: 25.7143px;
    margin-right: 10px;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}
.vat-included {
    display: inline-block;
    margin-left: 10px; /* Adjust this value to increase or decrease the space */
    vertical-align: middle; /* Align it vertically with the price */
}

.navbar-brand img {
    max-height: 170px; /* Điều chỉnh chiều cao tối đa của ảnh */
    width: auto;      /* Để chiều rộng tự động dựa trên tỷ lệ khung hình */
  }
  
  .navbar-toggler {
    border: none; /* Loại bỏ viền của nút toggler */
  }
  
  .navbar-toggler .fa-bars {
    font-size: 1.5rem; /* Điều chỉnh kích thước icon menu */
  }
  
/*** Footer End ***/
.old-price {
    text-decoration: line-through;
    color: #dc3545;
    margin-left: 5px;
}
.discount {
    color: #090909;
    margin-left: 5px;
}
.discount2{
    color:  #dc3545;
}
        body {
            font-family: Arial, sans-serif;
        }
        .table {
            max-width: 1000px; /* Set max width for the table */
           
        }
        .table th {
            text-align: left;
            font-weight: bold;
        }
        .info-cell {
            background-color: #000000; /* Light gray background */
        }
        h2 {
            
            margin-bottom: 20px;
            font-size: 44px; /* Adjust title font size */
        }
        .table td {
            font-size: 13px;
            text-align: center;
            vertical-align: middle; 
          
        }
        .table th{
            font-size: 14px; 
            text-align: center;
        }

        .align-middle{
            vertical-align: middle; /* Center-align vertically */
          }
        .flash-deal {
            display: flex;
            justify-content: space-between; /* Đẩy các phần tử sang hai bên */
            align-items: center; /* Canh giữa theo chiều dọc */
            padding: 10px;
            background-color: #ff6b00; 
            font-size: 20px;
            margin-bottom: 20px;
            color: white;
          }
          
          .flash-deal .text {
            margin-left: auto; /* Đẩy phần tử này sang bên phải */
            font-weight: bold;
          }
          .flash-deal .textname{
            font-weight: bold;
            font-size: 20px;
          }
         
          .input-group .btn {
            border-radius: 50%;
            min-width: 30px;
            min-height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          
          .input-group .form-control {
            height: 38px; /* Chỉnh sửa chiều cao trường nhập liệu cho đồng nhất */
          }
        
          .breadcrumb {
            background-color: transparent;
            padding: 0;
            margin: 0;
            font-size: 16px;
            color: #b0b0b0; /* Light gray text color */
          }
          
          .breadcrumb-item a {
            color: #707070; /* Link color */
            text-decoration: none;
          }
          
          .breadcrumb-item.active {
            color: #b0b0b0; /* Active breadcrumb color */
          }
          
          .breadcrumb-item + .breadcrumb-item::before {
            content: ">";
            padding: 0 8px;
            color: #b0b0b0;
          }.input-group .form-control {
            border-radius: 0;
            border-right: none;
            border-left: none;
          }
          
          .input-group .btn {
            border-radius: 0;
          }
          
          .input-group .btn:first-child {
            border-right: none;
          }
          
          /*** Navbar Start ***/

.navbar .navbar-nav .nav-link {
    padding: 10px 15px;
    font-size: 16px;
    transition: .5s;
}

.navbar {
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.text-blue {
    color: #1e90ff;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.fixed-top.bg-white .navbar .navbar-nav .nav-link:hover,
.fixed-top.bg-white .navbar .navbar-nav .nav-link.active {
    color: var(--bs-blue);
}

.navbar .dropdown-toggle::after {
    border: none;
    font-weight: bolder;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        transition: .5s;
        opacity: 0;
    }
}

:root {
    --bs-primary: #1e90ff;
}


.dropdown .dropdown-menu a:hover {
    background: var(--bs-primary);
    color: var(--bs-white);

}


.navbar .dropdown-menu .dropdown-item {
    font-size: 1em;
    font-weight: bolder;
    color: black;

}


.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light) !important;
    border-radius: 10px !important;
    transition: .5s;
    opacity: 1;
}

#searchModal .modal-content {
    background: rgba(255, 255, 255, .8);
}
/*** Navbar End ***/
.carousel-control-prev,
.carousel-control-next {
  display: none; /* Ẩn các nút mặc định */
}
.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next {
  display: block; /* Hiển thị nút khi hover vào carousel */
  background-color: #545353;
}
.carousel-inner {
    width: 700px;
    display: flex; /* Chiều cao của carousel, bạn có thể điều chỉnh */
  }
  
  .carousel-item img {
    height: 100%; /* Kéo dài hình ảnh để lấp đầy chiều cao của carousel */
    width: 100%; /* Đảm bảo ảnh chiếm toàn bộ chiều rộng */
    object-fit: cover; /* Giữ tỷ lệ khung hình và cắt bớt ảnh nếu cần */
  }
/** banner end**/  
.text-left{
    text-align: left;
    font-size: 15px;

}
.text-right {
    margin: 0 20px; 
    font-size: 15px;
}