** input *

.filter-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    width: 250px;
}

.price-range-container h3,
.brand-container h4,
.hair-condition-container h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

.price-range-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.price-range-inputs input {
    width: calc(50% - 5px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.apply-button {
    background-color: #0080ff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.apply-button:hover {
    background-color: #0080ff;
}


  


  /* Nền của phần track */
  .scrollable-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Màu nền của phần track */
  }
  
  /* Thiết lập danh sách không bị tràn và giữ khoảng cách */
  ul {
    /* list-style: none; Bỏ chấm đầu dòng trong danh sách */
    padding: 0;
    margin: 0;
    
  }
  
  /* Thiết lập cho các phần tử li */
  li {
   /* Hiển thị các mục dạng flex để checkbox và text nằm cạnh nhau */
    align-items: center; /* Canh giữa checkbox và text theo chiều dọc */
    margin-bottom: 8px; /* Khoảng cách giữa các mục trong danh sách */
  }
  
  input[type="checkbox"] {
    margin-right: 10px; /* Khoảng cách giữa checkbox và text */
  }
  
